<div>
    <sly-card title="Input Project" subtitle="Project with labeled foreground objects">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
        <sly-field title="Stats"
                   description="Labeled products stats">
            <div>Images: {{data.projectItemsCount}}</div>
            <div class="mt5">Images with products: {{data.imagesWithProductsCount}}</div>
            <div class="mt5">Products: {{data.productsCount}}</div>
            <div class="mt5">Labeled examples for all products: {{data.examplesCount}}</div>
        </sly-field>
    </sly-card>

    <div class="fflex mt15" style="align-items: stretch">
        <sly-card
                class="mr15"
                style="width: 35%; min-width: 430px;"
                title="Settings"
                subtitle="Configure synthetic data generation"
        >
            <sly-field title="Augmentations"
                       description="">
                <sly-editor v-model="state.augs" :options="{height: '520px', mode: 'ace/mode/yaml'}"></sly-editor>
            </sly-field>
        </sly-card>
        <sly-card
                style="width: 65%; height: 653px;"
                title="Random preview"
                subtitle="Preview synthetic image and labels"
        >
            <div slot="header">
                <div class="fflex">
                    <el-input-number class="mr10" v-model="state.previewCount" :min="1" :max="20"
                                     size="small"></el-input-number>
                    <el-button
                            type="primary"
                            @click="state.previewLoading = true; command('preview')"
                            :loading="state.previewLoading"
                    >
                        <i class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
                    </el-button>
                </div>
            </div>
            <sly-grid-gallery
                    v-show="Object.keys(data.gallery.content.annotations).length > 0 && !state.previewLoading"
                    :content="data.gallery.content"
                    :options="data.gallery.options"
                    :preview-options="data.gallery.previewOptions"/>
            <div v-show="Object.keys(data.gallery.content.annotations).length === 0 && !state.previewLoading">
                Gallery is empty, press Preview button to visualize examples
            </div>
        </sly-card>
    </div>
    <sly-card class="mt15" title="Output Project" subtitle="Project synthetic products">
        <sly-field title="Training examples per product"
                   description="How many training images will be generated for every product">
            <el-input-number v-model="state.trainCount" :min="1" :max="10000"></el-input-number>
        </sly-field>
        <sly-field title="Validation examples per product"
                   description="How many valdation images will be generated for every product">
            <el-input-number v-model="state.valCount" :min="1" :max="2000"></el-input-number>
        </sly-field>
        <sly-field title="Generated project stats"
                   description="Number of images in training / validation">
            <div>Training images: {{data.productsCount}} * {{state.trainCount}} = {{data.productsCount *
                state.trainCount}}
            </div>
            <div class="mt5">Validation images: {{data.productsCount}} * {{state.valCount}} = {{data.productsCount *
                state.valCount}}
            </div>
            <div class="mt5">Total images: {{data.productsCount * state.trainCount + data.productsCount *
                state.valCount}}
            </div>
        </sly-field>
        <sly-field title="Output project name"
                   description="New project with synthetic data will be created">
            <el-input v-model="state.outputProjectName"></el-input>
        </sly-field>
        <el-button
                type="primary"
                :loading="data.started"
                @click="data.started = true; command('generate')">
            Generate
        </el-button>
        <div class="fflex mt10" v-if="data.started === true">
            <div class="mr10" style="width: 120px;">Generated images:</div>
            <el-progress :percentage="data.progressPercent" style="flex: 1"></el-progress>
            <div class="ml10" style="flex: none;">[{{data.progressCurrent}} / {{data.progressTotal}}]</div>
        </div>

        <div style="margin-top: 30px;">
            <sly-field class="mt15" v-if="data.resProjectId && !data.started" title="Destination project">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.resProjectId}/datasets`">{{data.resProjectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resProjectPreviewUrl}` }"/>
                </sly-field>
            </sly-field>
        </div>
    </sly-card>

</div>