<div>
    <sly-card title="Input Project" subtitle="Project with labeled foreground objects">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
        <sly-field title="Stats"
                   description="Labeled products stats">
            <div>Images: {{data.projectItemsCount}}</div>
            <div class="mt5">Images with products: {{data.imagesWithProductsCount}}</div>
            <div class="mt5">Products: {{data.productsCount}}</div>
            <div class="mt5">Labeled examples for all products: {{data.examplesCount}}</div>
        </sly-field>
    </sly-card>

    <div class="fflex mt15" style="align-items: stretch">
        <sly-card
                class="mr15"
                style="width: 35%; min-width: 430px;"
                title="Settings"
                subtitle="Configure synthetic data generation"
        >
            <sly-field title="Augmentations"
                       description="">
                <sly-editor v-model="state.augs" :options="{height: '300px', mode: 'ace/mode/yaml'}"></sly-editor>
            </sly-field>
            <sly-field title="Training examples per product"
                       description="How many training images will be generated for every product">
                <el-input-number v-model="state.trainCount" :min="1" :max="10000"></el-input-number>
            </sly-field>
            <sly-field title="Validation examples per product"
                       description="How many valdation images will be generated for every product">
                <el-input-number v-model="state.valCount" :min="1" :max="2000"></el-input-number>
            </sly-field>
            <sly-field title="Generated project stats"
                       description="Number of images in training / validation">
                <div>Training images: {{data.productsCount}} * {{state.trainCount}} = {{data.productsCount * state.trainCount}}</div>
                <div class="mt5">Validation images: {{data.productsCount}} * {{state.valCount}} = {{data.productsCount * state.valCount}}</div>
                <div class="mt5">Total images: {{data.productsCount * state.trainCount + data.productsCount * state.valCount}}</div>
            </sly-field>


        </sly-card>
        <sly-card
                style="width: 65%;"
                title="Random preview"
                subtitle="Preview synthetic image and labels"
        >
            <div slot="header">
                <el-button
                        type="primary"
                        @click="state.previewLoading = true; command('preview')"
                        :loading="state.previewLoading"
                >
                    <i class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
                </el-button>
            </div>
        </sly-card>
    </div>
</div>